h1= t('tasks.title')
= link_to t('tasks.new'), 'javascript:;', class: 'new-task-link'
= link_to t('tasks.hide_form'), 'javascript:;', class: 'away-task-form', style: 'display:none'

== render 'tasks/form'

- if @tasks.empty?
  h2= t('tasks.nothing_to_show')
- else
  == render 'tasks/list'

